<div class="container-fluid">  
    <app-header class="row"></app-header>

  <div class="container">
    <div class="row pt-3">
      <div class="col-12">        
        <router-outlet></router-outlet>
      </div>   
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Project Atlas</h2>
          <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                placeholder="Datepicker"
                class="form-control"
                bsDatepicker>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                placeholder="Daterangepicker"
                class="form-control"
                bsDaterangepicker>
        </div>
      </div>

      <div class="row">
        <div class="col-12">        
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </div>  
      </div>
    </div>

</div>
