/* You can add global styles to this file, and also import other style files */
// _base.sass
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap')
$body-font: 'Fira Sans', sans-serif
$input-font-color:#353535
$body-text-color:#000

body
  font: $body-font
  color: $body-text-color

// .form-select,.form-control
//   font: $body-font $font-stack